// css footer

.footer {
  position: relative;
  margin-top: -27% !important;
  width: 100%;
  height: var(--heightFooter);
  background-color: $blue-bg-cl;

  .container {
    position: relative;
    .footer__slogan {
      position: absolute;
      width: 42%;
      height: 180px;
      right: 0;
      top: var(--topSlogan);
      text-align: right;
      z-index: 4;
      @include sm {
        left: 50%;
        top: 25%;
        transform: translateX(-50%);
        text-align: center;
      }

      @include md {
        left: 50%;
        top: 30%;
        transform: translateX(-50%);
        text-align: center;
      }
    }

    .pen {
      position: absolute;
      top: 40%;
      right: -4%;
      z-index: 3;
      width: 15%;

      @include md {
        left: 50%;
        transform: translateX(-50%);
        top: 54%;
      }
    }

    .footer__contact {
      position: relative;
      padding-top: calc(300px + var(--topSlogan));
      @include mid(true);
      flex-direction: column;

      &-logo {
        position: relative;
        span {
          &::after,
          &::before {
            content: "";
            height: 2px;
            bottom: 36%;
            width: 430px;
            background-color: #665d49;
            position: absolute;

            @include md {
              width: 398px;
            }

            @include sm {
              width: 278px;
            }

            @include xs {
              display: none;
            }
          }

          &::after {
            right: 145%;
          }

          &::before {
            left: 145%;
          }
        }
      }

      &-address {
        padding-top: 50px;
        width: 50%;
      }

      &-backToTop {
        align-items: center;
        position: absolute;
        display: flex;
        right: -48px;
        bottom: -90px;
        transform: rotate(90deg);

        @include xs {
          bottom: -50px;
        }

        @include xxs {
          bottom: -10px;
          right: -20px;
        }
        .backToTop {
          &::before {
            content: "";
            position: absolute;
            width: 130px;
            height: 2px;
            background-color: #665d49;
            bottom: 4px;
            right: 110px;
            transform: translateX(0);
            @include transition($t);
          }

          &:hover {
            &::before {
              transform: translateX(-30px);
              @include transition($t);
            }
          }
        }
      }
    }
  }
}

.footer-product {
  .footer {
    margin-top: initial !important;
    height: 500px;
    .container {
      .footer__contact {
        padding-top: 60px;
      }
    }
  }
}

// ?---------- RESPONSIVE ----------?//
