// css header

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  height: var(--heighHeader);
  width: 100%;

  nav {
    width: 100%;
    height: 100%;
    .container-fluid {
      height: 100%;

      li {
        position: relative;
        padding: 50px 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin: 0 16px;
        list-style: none;
        cursor: pointer;

        a {
          text-decoration: none;
          @include text(12px, ah, normal, $black-cl, uppercase);
          @include transition(0.2s);

          .arrow-icon {
            position: absolute;
            right: -25px;
            transform: translateX(0);
            @include transition(0.2s);
          }
        }

        &:hover {
          a,
          .arrow-icon {
            opacity: 0.8;
            @include transition($t);
            .arrow-icon {
              transform: translateX(50%);
            }
          }

          a {
            color: $yellow-bg-cl;
          }
        }
      }
    }

    @include xs {
      padding-top: var(--heightMenu);
    }
  }
}

.header__top {
  background-color: $blue-bg-cl;
  height: var(--heightMenu);
  width: 100%;
  max-width: $container-max-width;
  display: block;
  position: fixed;
  z-index: 100;
  transform: translateY(-80px);
  @include transition($t);

  &.active {
    transform: translateY(0px);
    @include transition($t);
  }

  .container {
    position: relative;
    height: 100%;
    width: 100%;
    @include mid(true);

    .hambuger-nav {
      width: 100%;
      display: none;
      position: relative;
      height: 100%;

      .nav-left {
        @include mid(true);
        height: 100%;
        .hidden {
          display: none;
        }
        span {
          position: absolute;
          height: 2px;
          width: 40px;
          background-color: #fff;
          left: 0;

          &:after,
          &:before {
            content: "";
            position: absolute;
            height: 2px;
            width: 40px;
            background-color: #fff;
            left: 0;
          }

          &:before {
            bottom: 10px;
          }

          &:after {
            top: 10px;
          }
        }

        .hambuger-icon {
          cursor: pointer;
          padding-left: 50px;
          display: flex;
          align-items: center;
          height: 100%;
        }
      }
    }

    nav {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      li {
        height: 100%;
        list-style: none;
        a {
          @include text(12px, Arial, normal, #fff, uppercase);
          padding: 0 30px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 100%;
          text-decoration: none;
        }
      }
    }
  }

  @include xs {
    transform: translateY(0px);
    @include transition($t);
    .container {
      .hambuger-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      nav {
        display: none;
      }
    }
  }
}

.header-product {
  .slider__menu {
    position: absolute;
    bottom: -348px;
  }
}

.header-detail {
  position: initial;
  border-bottom: 1px solid #707070;

  nav {
    opacity: 1;

    .container-fluid {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .nav-logo {
        &:hover {
          a {
            svg {
              fill: $yellow-bg-cl;
              @include transition($t);
            }
          }
        }
      }
    }
  }

  @include xs {
    border-bottom: initial;
    nav {
      @include transition($t);
      opacity: 0;
    }
  }
}
