@-ms-viewport {
  width: device-width;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: antialiased;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
html,
body {
  width: 100%;
  max-width: $container-max-width;
  margin: auto;
  @include text($fz-text, $font-main, $lh-text, $text-cl, none);
  background: $white-cl;
  scroll-behavior: smooth;
  position: relative;
  @include customscroll();
  .container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
  }
  .container-fluid {
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
    margin-right: auto;
    margin-left: auto;
  }
  .pd {
    padding: 80px 0;
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    // ! Mục đích margin -15px?
    // margin-right: -15px;
    // margin-left: -15px;

    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .no-gutters {
    margin-right: 0;
    margin-left: 0;
  }
  .no-gap > .col,
  .no-gap > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
  main {
    transform: translateX(0%);
    transition: 0.3s;
  }

  &.menu-isshow {
    .menu-full {
      transform: translateX(0%);
      transition: 0.3s;
    }
    main {
      transform: translateX(20%);
      transition: 0.3s;
    }
  }

  @media (min-width: $xxs-min) {
    .container {
      max-width: 540px;
    }
  }
  @media (min-width: $xs-min) {
    .container {
      max-width: 720px;
    }
  }
  @media (min-width: $sm-min) {
    .container {
      max-width: 960px;
    }
  }
  @media (min-width: $md-min) {
    .container {
      max-width: $container-width;
    }
  }

  .mainwrapper {
    width: 100%;
    margin: auto;
  }
  @include lg {
    // CSS responsive large desktop
  }
  @include md {
    // CSS responsive desktop
  }
  @include sm {
    // CSS responsive tablet
  }
  @include xs {
    // CSS responsive mobile
  }
  @include xxs {
    // CSS responsive small mobile
  }
}
