// CSS HOMEPAGE
.homepage {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 5;

  .slider {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;

    &-carousel {
      width: 100%;
      height: 100%;
      .slider-wrapper {
        width: 100%;
        height: 100%;

        .slider__image {
          height: 100%;
          width: 100%;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }

        .slider__content {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100%;
          transform: translate(-50%, -55%);
          &-title {
            position: relative;
            &::after {
              content: "";
              height: 2px;
              width: 60%;
              position: absolute;
              left: 50%;
              bottom: 0;
              transform: translateX(-50%);
              background-color: #fff;
            }
          }
        }
      }
    }

    &__menu {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    &__bottom {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 24px;
      &-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        span {
          height: 120px;
          width: 2px;
          background-color: #000;
          display: block;
          margin-bottom: 10px;
        }

        .text-main {
          color: #000;
        }
      }
    }
  }

  .product {
    width: 100%;
    height: 100%;

    &__content {
      width: 100%;
      height: 100%;
      &-item {
        align-self: flex-end;
        padding-bottom: 20px;
        .des-product {
          padding: 30px 0;
          width: 75%;
          @include sm {
            display: none;
          }
        }

        .product-box {
          .text-product {
            padding: 30px 0;
          }
          .img-product {
            position: relative;
            z-index: 5;
            img {
              width: 100%;
            }
          }
        }
      }

      &:nth-child(3) {
        :nth-child(2) {
          align-self: flex-start;

          margin: 0 auto;
        }
      }
    }
  }
}

// ?---------- RESPONSIVE ----------?//
