// css product page

.productpage {
  position: relative;
  width: 100%;
  height: 100%;
  .slider-wrapper {
    width: 100%;
    height: 449px;
    .slider-item {
      position: relative;
      height: 100%;
      width: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      .title-main {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 24px;
        text-align: right;
        max-width: 520px;
        line-height: 2;
      }
    }
  }
}
